*{
    font-family: "Verdana", Sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e6e6e6;
}

nav {
    padding: 20px;
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 15px;
    font-size: 30px;
}

.container img {
    width: 50px;
    margin: auto;
    margin-right: 27.5%;
}

ul {
    margin-right: 15px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative;
}
nav ul li a::after {
    content: '';
    background-color: #E15241;
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}

.content h2 {
    font-size: 70px;
    margin-bottom: 20px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}   

button {
    width: 200px;
    text-align: center;
    margin: 20px 10px;
    padding: 15px;
    border-radius: 25px; 
    font-weight: bold;
    border: 2px solid #E15241; 
    background: transparent;
    color:black;
    cursor: pointer;
}

.fa, .material-icons {
    padding: 5px;
    width: 15px;
    text-decoration: none;
    bottom: 12px;
}

.fa-linkedin {
    position: absolute;
    right: 35px;
    font-size: 100px;
    color: #0a66c2;
}
  
.email {
    position: absolute;
    right: 90px;
    color: #c71610;
}

.fa:hover, .material-icons:hover {
    opacity: 0.7;
}
