* {
  font-family: "Verdana", Sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e6e6e6;
}

.container h1 {
  margin-left: 15px;
  font-size: 30px;
}

.container img {
  width: 50px;
  padding-left: 20px;
}

.container ul {
  margin-right: 15px;
}

.container nav {
  padding: 20px;
  display: flex;
  align-items: center;
}

.container nav ul li {
  list-style: none;
  display: inline-block;
  margin: 15px;
}

.container nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  position: relative;
}
.container nav ul li a::after {
  content: "";
  background-color: #e15241;
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.container nav ul li a:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 15%;
  color: black;
}

.content h2 {
  font-size: 70px;
  text-align: center;
}

.content p {
  margin: 50px auto;
  font-weight: 100;
  margin-left: 550px;
  max-width: 400px;
}

.fa {
  padding: 5px;
  text-decoration: none;
  bottom: 12px;
}

.fa-linkedin {
  position: absolute;
  width: 30px;
  right: 35px;
}

.email {
  position: absolute;
  right: 90px;
  color: #c71610;
  width: 30px;
}

.fa:hover,
.material-icons:hover {
  opacity: 0.7;
}
.rankings h2 {
  position: absolute;
  top: 130px;
  left: 800px;
}

.rankings-table {
  border-collapse: collapse;
  margin: 25px auto;
  min-width: 1000px;
  font-size: 0.9em;
  position: absolute; /* Add this */
  top: 18%; /* Add this */
  left: 23%;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.rankings-table img {
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #e6e6e6;
}

.rankings-table td,
.rankings-table th {
  text-align: center;
  padding: 12px 15px;
  max-width: 60px;
}

.rankings-table thead tr {
  background-color: #e15241;
  color: white;
  text-align: left;
  font-weight: bold;
}

.rankings-table tbody tr {
  border-bottom: 1px solid #797979;
}

.rankings-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: none;
}

.rankings-table tbody tr:hover {
  transition: 0.1s;
}

.rankings-table tbody tr:nth-of-type(1):hover {
  background-color: #bb0000;
  color: white;
}

.rankings-table tbody tr:nth-of-type(2):hover {
  background-color: #990000;
  color: #ffc72c;
}

.rankings-table tbody tr:nth-of-type(3):hover {
  background-color: #7bafd4;
  color: white;
}

.rankings-table tbody tr:nth-of-type(4):hover {
  background-color: #461d7c;
  color: #fdd023;
}

.rankings-table tbody tr:hover {
  background-color: #f1f7ff;
}

.form {
  width: 100%;
  max-width: 820px;
  height: 430px;
  background-color: #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  transform: translate(60%, 20%);
}

.form h3 {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  color: black;
}

form {
  padding-left: 150px;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
}

input,
label,
textarea {
  position: relative;
  margin: 0.75rem 0;
}

label {
  display: none;
}

.input-type {
  width: 75%;
  outline: none;
  border: 1px solid #e15241;
  background: white;
  padding: 0.6rem 1.2rem;
  border-radius: 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

textarea.input-type {
  resize: none;
  overflow-y: auto;
}

.submit-type {
  margin-left: 215px;
  padding: 0.6rem 1.3rem;
  background-color: white;
  border: none;
  font-size: 0.95rem;
  color: black;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.me {
  position: absolute;
  top: 16%;
  left: 58%;
  width: 190px;
  border-radius: 50%;
  background-color: #e6e6e6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.submit-type:hover {
  background: #e15241;
  box-shadow: 0 0 35px #e15241;
  color: white;
}

.draft-order {
  border-collapse: collapse;
  margin: 25px auto;
  min-width: 600px;
  font-size: 0.9em;
  position: absolute; /* Add this */
  top: 18%; /* Add this */
  left: 57%;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.draft-order img {
  width: 100px;
}

.draft-order td,
.draft-order th {
  text-align: center;
  padding: 12px;
  padding-left: 1px;
  max-width: 60px;
}

.draft-order thead tr {
  background-color: #e15241;
  color: white;
  font-weight: bold;
  display: table-row;
  font-size: 25px;
}

.draft-order tbody tr {
  font-weight: bold;
  font-size: 20px;
}

.draft-order tbody tr:hover {
  color: white;
  transition: 0.3s;
}

.draft-order tbody tr:nth-of-type(1):hover {
  background-image: linear-gradient(to right, #c83803, #0b162a 70%);
}

.draft-order tbody tr:nth-of-type(2):hover {
  background-image: linear-gradient(to right, #ffb612, #5a1414 70%);
}

.draft-order tbody tr:nth-of-type(3):hover {
  background-image: linear-gradient(to right, #c60c30, #002244 90%);
}

.draft-order tbody tr:nth-of-type(4):hover {
  background-image: linear-gradient(to right, #97233f, #000000 90%);
}

.draft-order tbody tr:nth-of-type(5):hover {
  background-image: linear-gradient(to right, #ffc20e, #0080c6 90%);
}

.current-games {
  border-collapse: collapse;
  margin: 25px auto;
  min-width: 600px;
  font-size: 0.9em;
  position: absolute; /* Add this */
  top: 18%; /* Add this */
  left: 10%;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.current-games img {
  width: 70px;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
  vertical-align: middle; /* Add this */
}

.current-games td,
.current-games th {
  text-align: center;
  padding: 12px;
  padding-left: 1px;
  max-width: 60px;
}

.current-games thead tr {
  background-color: #e15241;
  color: white;
  display: table-row;
  font-size: 25px;
}

.current-games tbody tr {
  font-weight: bold;
  font-size: 20px;
}

.current-games tbody tr:hover {
  color: white;
  transition: 0.3s;
}

.top-text,
.bottom-text {
  display: block;
}

.bottom-text {
  margin-top: 3.33px;
  font-weight: normal;
}

.news {
  width: 100%;
  position: absolute;
  top: 15%;
  color: black;
}

.news h2 {
  font-size: 50px;
  text-align: center;
  margin-top: -35px;
}

.news p {
  margin-top: 25px;
  font-weight: 100;
  margin-left: 35px;
  max-width: 900px;
}

.apr-24 img {
  margin-left: 35px;
  margin-top: 35px;
  width: 300px;
  border-radius: 3%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: inline-block;
}

.apr-24 video {
  margin-left: 35px;
  width: 550px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Drop shadow */
  outline: none; /* Remove outline on focus for aesthetics */
}

.news h3 {
  margin-left: 35px;
  margin-top: 35px;
  font-size: 25px;
  color: black;
}

.may-1 video {
  margin-left: 35px;
  margin-top: 35px;
  width: 300px;
  border-radius: 3%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: inline-block;
}

.may-1 img {
  margin-left: 35px;
  width: 550px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Drop shadow */
  outline: none; /* Remove outline on focus for aesthetics */
}

.draft h2 {
  text-align: center;
  font-size: 40px;
}

.draft-table {
  margin: 25px auto;
  border-collapse: collapse;
  min-width: 1000px;
}

.player {
  width: 85px;
  border-radius: 50%;
  border: 1px solid black;
}

.logo {
  padding-left: 20px;
  width: 85px;
}

.position {
  font-size: 30px;
}

.playername {
  font-size: 23px;
}

.playerpos {
  font-size: 15px;
}

.infoabout {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 15px;
  max-width: 900px;
  margin: 4;
}

.draft-table td,
.draft-table th {
  max-width: 1000px;
  padding: 12px 15px;
  padding-bottom: 100px;
}

.name {
  margin-left: 1000px;
}

.draft-table tr {
  border-left: 5px solid #797979;
  border-bottom: 1px solid #797979;
}

.team-name {
  font-weight: bold;
  font-size: 15px;
}

.standings h2 {
  font-size: 40px;
  text-align: center;
}

.matchupbuttons {
  display: flex;
  padding: 1em;
}

.bracket button {
  font-size: 24px;
  padding: 1em;
  width: 8em;
  border: none;
  outline: none;
  color: white;
  /*clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);*/
  transition: all 0.5s ease-out;
}

.bracket button:hover {
  color: black;
}

.bracket .away {
  border-radius: 15px 0 0 15px;
  background: linear-gradient(to right, red 50%, blue 50%);
  background-size: 200% 100%;
  background-position: right;
}
.bracket .away:hover {
  background-position: left;
}

.bracket .home {
  border-radius: 0 15px 15px 0;
  background: linear-gradient(to left, red 50%, blue 50%);
  background-size: 200% 100%;
  background-position: left;
}
.bracket .home:hover {
  background-position: right;
}
